<section class="blog-list">
  <h2>Programming</h2>
  <div class="posts">
    <div *ngFor="let post of postsProgramming" class="post" style="cursor: pointer;">
      <h3  (click)="navigateToPost(post.id, 'programming')">{{post.title}}</h3>
      <!-- <p class="date">{{post.date | date:'mediumDate'}}</p> -->
      <button class="read-more" (click)="navigateToPost(post.id, 'programming')">Read Blog</button>
      <hr>
    </div>
  </div>
</section>

<section class="blog-list">
  <h2>Personal</h2>
  <div class="posts">
    <div *ngFor="let post of postsPersonal" class="post">
      <h3 (click)="navigateToPost(post.id, 'personal')" style="cursor: pointer;">{{post.title}}</h3>
      <!-- <p class="date">{{post.date | date:'mediumDate'}}</p> -->
      <button class="read-more" (click)="navigateToPost(post.id, 'personal')">Read Blog</button>
      <hr>
    </div>
  </div>
</section>