.blog-list {
  padding: 50px 0;
  background-color: #f9f9f9;
  color: #333;
}

.blog-list h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  flex-basis: 600px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
}

.post h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.post .date {
  font-size: 0.8em;
  margin-bottom: 20px;
}

.post .read-more {
  background-color: #333;
  color: #fff;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.post .read-more:hover {
  background-color: #444;
}

.post hr {
  margin-top: 20px;
  border: none;
  border-top: 1px solid #ddd;
}
