


<!-- src/app/blog-list/blog-list.component.html -->
<div class="blog-list">
  <h1>Programming</h1>
  <div *ngFor="let blog of postsProgramming" class="blog-item">
    <h2>{{ blog.title }}</h2>
    <div class="post">
      <p>{{ blog.content.substring(0,100) }}...</p>
      <a (click)="navigateToPost(blog.id, 'programming')" class="read-more">Read more</a>
    </div>
  </div>
</div>

<div class="blog-list">
  <h1>Personal</h1>
  <div *ngFor="let blog of postsPersonal" class="blog-item">
    <h2>{{ blog.title }}</h2>
    <div class="post">
      <p>{{ blog.content.substring(0,100) }}...</p>
      <a (click)="navigateToPost(blog.id, 'programming')" class="read-more">Read more</a>
    </div>
  </div>
</div>

